<article>
    <div [ngStyle]="{
        'width': '100%',
        'display': 'flex',
        'justify-content': 'center'
    }">
        <h1>Images</h1>
    </div>
    <div [ngStyle]="{
        'width': '100%',
        'display': 'flex',
        'justify-content': 'space-evenly',
        'flex-wrap': 'wrap'
    }">
        <mat-form-field appearance="fill">
            <mat-label>Sort by date</mat-label>
            <mat-select name="food">
                <mat-option (click)="onSortBtnClick()">
                    Sort
                </mat-option>
                <mat-option (click)="onUnSortBtnClick()">
                    unSort
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Filter with title</mat-label>
            <input (input)="onFilterChange()" [(ngModel)]="filterTitle" matInput type="text">
            <button (click)="filterTitle=''" (click)="onFilterChange()" *ngIf="filterTitle" matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="albom-title-box">
        <h2 class="albom-title">{{albomTitle}}</h2>
    </div>
    <div class="images-area d-flex flex-wrap m-auto mt-5">
        <div class="add-image-box">
            <button (click)="goToAddImageAreaBtnClick()" class="add-image-btn" mat-button color="primary"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div *ngFor="let image of imagesList" class="image-box">
            <div (click)="onImageInspectBtnClick(image.key)" [style.background-image]="'url('+image.image+')'" [ngStyle]="{
                'width':'100%',
                'height':'100%'
            }"></div>
            <button (click)="onImageDeleteAlertBtnClick(image.key)" class="close-btn hovers" mat-button color="primary"><i class="fa-solid fa-xmark"></i></button>
            <button (click)="onImageUpdateFormOpenBtnClick(image.key)" class="update-btn hovers" mat-button color="primary"><i class="fa-solid fa-pen"></i></button>
            <button (click)="addAndRemoveFromFavImage(image.favorite,image.key, image)" class="fav-btn hovers" mat-button color="primary"><i *ngIf="image.favorite"  class="fa-solid fa-heart"></i><i *ngIf="!image.favorite" class="fa-regular fa-heart"></i></button>
            <h2 (click)="onImageInspectBtnClick(image.key)" [ngStyle]="{
                'width': '100%'
            }" class="title hovers">{{image.title}}</h2>
            <h3 class="hovers"><strong>{{image.description | slice:0:20}}...</strong></h3>
        </div>
    </div>
</article>