<form class="example-form">
    <h1>Reset password</h1>
    <p>Please enter your email address to request a password reset.</p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter here</mat-label>
        <input #email type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <div class="button-group">
        <a routerLink="/login">Go back to Log in</a>
        <button (click)="onUserPasswordResetBtnClick(email.value)" mat-raised-button color="primary">Send</button>
    </div>
</form>