[type="file"] {
    color: #878787;
}

[type="file"]::-webkit-file-upload-button {
    background: #ED1C1B;
    border: 2px solid #ED1C1B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
    background: #fff;
    border: 2px solid #535353;
    color: #000;
}